<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventox Web App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/intern.css">
</head>
<body>

<div class="apply-form">
    <h1>Eventox Internship Form</h1>
    <form action="/apply" method="POST">
        What's your name?<input type="text" name="name">
        You got a roll no.?<input type="text" name="roll">
        What are your areas of interest?<br>
        <label class="check">Graphic Designing
            <input type="checkbox" name="interest" value="Graphic Designing">
            <span class="checkmark"></span>
        </label>
        <label class="check">Graphic Designing
            <input type="checkbox" name="interest" value="Graphic Designing">
            <span class="checkmark"></span>
        </label>
        <label class="check">Graphic Designing
            <input type="checkbox" name="interest" value="Graphic Designing">
            <span class="checkmark"></span>
        </label>
        <label class="check">Graphic Designing
            <input type="checkbox" name="interest" value="Graphic Designing">
            <span class="checkmark"></span>
        </label>
        Where we should call/text you?<input type="text" name="mob">
        Where we can email you?<input type="email" name="email">
        <input type="submit" value="SUBMIT">
    </form>
</div>

<div class="help-footer">
    <div class="help-left">
        <p>Having Doubts? Send your queries at</p>
        <p>Email: <a href="">intq@eventox.in</a></p>
        <p>Whatsapp: +91 8851272999</p>
    </div>
    <div class="help-right">
        <img src="/public/eventox-logo.jpg">
    </div>
</div>
</body>
</html>