<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventox Web App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/intern.css">
</head>
<body>
<div class="banner">
    <h1>What is Eventox?</h1>
    <p>Eventox is a tech based startup aiming to eliminate every events related problems through creative solutions. We focus on every person who is part of making an Event successfull and by minimising the gap between them. We aim to become one stop solution to all events related problems.</p>
    <a href="">Know More</a>
    <h2>What you will take out of this internship?</h2>
    <ul>
        <li>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </li>
        <li>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </li>
        <li>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </li>
        <li>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </li>
    </ul>
    <a href="/intern/apply">Apply Now</a>
</div>
<div class="help-footer">
    <div class="help-left">
        <p>Having Doubts? Send your queries at</p>
        <p>Email: <a href="">intq@eventox.in</a></p>
        <p>Whatsapp: +91 8851272999</p>
    </div>
    <div class="help-right">
        <img src="/public/eventox-logo.jpg">
    </div>
</div>
</body>
</html>